name: Build Docker Images
env:
  TARGET_PLATFORMS: linux/amd64,linux/arm64
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
on:
  pull_request: {}
  push:
    branches:
      - 'main'

permissions:
  contents: read
  packages: write

jobs: 
  build-images:
    strategy:
      matrix:
        image:
          - manager
          - agent
    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v3
      name: Checkout repository
      with:
        submodules: true

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2

    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v2
      with:
        install: true

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Generate docker metadata
      id: image-meta
      uses: docker/metadata-action@v4
      with:
        tags: |
          # set tag with branch name 'wireguard-images/manager:pr-3'
          type=ref,event=branch
          # set tag with semver. example: 'wireguard-images/manager:v1.5.3'
          type=semver,pattern={{raw}}
          # set latest tag for 'main' branch. example: 'wireguard-images/manager:latest'
          type=raw,value=latest,enable=${{ github.ref == format('refs/heads/{0}', 'main') }}
        images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/${{ matrix.image }}

    - uses: actions/setup-go@v3
      with:
        go-version: '^1.20'

    - name: Build and push docker image
      uses: docker/build-push-action@v3
      with:
        context: .
        file: images/${{ matrix.image }}/Dockerfile
        platforms: ${{ env.TARGET_PLATFORMS }}
        push: ${{ github.event_name != 'pull_request' }}
        tags: ${{ steps.image-meta.outputs.tags }}
        labels: ${{ steps.image-meta.outputs.labels }}