# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Create and publish Wireguard operator

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16

    - name: Test
      run: make test

  build-and-push-operator-image:
    runs-on: ubuntu-latest
    needs: [build-and-push-wireguard-image]
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      
      - name: load wireguard image url
        env: 
          WIREGUARD_IMAGE: ${{ needs.build-and-push-wireguard-image.outputs.image }}
        run : |
          printf "WIREGUARD_IMAGE: \"$WIREGUARD_IMAGE\"" > release-config.yaml

      - name: Log in to the Container registry
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          tags: |
            type=sha,format=long
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/operator

      - name: Build and push Docker image
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          file: ./Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
    outputs: 
      image: ${{ steps.meta.outputs.tags }}
  
  build-and-push-wireguard-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Log in to the Container registry
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          tags: |
            type=sha,format=long
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/wireguard

      - name: Build and push Docker image
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: ./wireguard-image
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
  
  build-and-push-bundle-image:
    needs: [build-and-push-operator-image, build-and-push-wireguard-image]
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    
    steps:
      - name: install operator-sdk
        run: |
          export ARCH=$(case $(uname -m) in x86_64) echo -n amd64 ;; aarch64) echo -n arm64 ;; *) echo -n $(uname -m) ;; esac)
          export OS=$(uname | awk '{print tolower($0)}')
          export OPERATOR_SDK_DL_URL=https://github.com/operator-framework/operator-sdk/releases/download/v1.18.1
          curl -LO ${OPERATOR_SDK_DL_URL}/operator-sdk_${OS}_${ARCH}
          chmod +x operator-sdk_${OS}_${ARCH}
          mv operator-sdk_${OS}_${ARCH} /usr/local/bin/operator-sdk

      - name: Checkout repository
        uses: actions/checkout@v2

      - name: update release config
        env: 
          OPERATOR_IMAGE: ${{ needs.build-and-push-operator-image.outputs.image }}
          WIREGUARD_IMAGE: ${{ needs.build-and-push-wireguard-image.outputs.image }}
        run: |
          printf "WIREGUARD_IMAGE: \"$WIREGUARD_IMAGE\"\nOPERATOR_IMAGE: \"$OPERATOR_IMAGE\"" > release-config.yaml
          make bundle
          make update-controller-image

      - name: Log in to the Container registry
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          tags: |
            type=sha,format=long
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/bundle

      - name: Build and push Docker image
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          file: ./bundle.Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
    outputs: 
      image: ${{ steps.meta.outputs.tags }}
  
  save-release:
    needs: [build-and-push-operator-image, build-and-push-wireguard-image, build-and-push-bundle-image]
    runs-on: ubuntu-latest
    steps:
      - name: install operator-sdk
        run: |
          export ARCH=$(case $(uname -m) in x86_64) echo -n amd64 ;; aarch64) echo -n arm64 ;; *) echo -n $(uname -m) ;; esac)
          export OS=$(uname | awk '{print tolower($0)}')
          export OPERATOR_SDK_DL_URL=https://github.com/operator-framework/operator-sdk/releases/download/v1.18.1
          curl -LO ${OPERATOR_SDK_DL_URL}/operator-sdk_${OS}_${ARCH}
          chmod +x operator-sdk_${OS}_${ARCH}
          mv operator-sdk_${OS}_${ARCH} /usr/local/bin/operator-sdk

      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal access token.
          fetch-depth: 0 # otherwise, there would be errors pushing refs to the destination repository.

      - name: prepare new release
        env: 
          OPERATOR_IMAGE: ${{ needs.build-and-push-operator-image.outputs.image }}
          WIREGUARD_IMAGE: ${{ needs.build-and-push-wireguard-image.outputs.image }}
          BUNDLE_IMAGE: ${{ needs.build-and-push-bundle-image.outputs.image }}
        run : |
          git config --local user.email "jodevsa@gmail.com"
          git config --local user.name "Github action"
          printf "WIREGUARD_IMAGE: \"$WIREGUARD_IMAGE\"\nOPERATOR_IMAGE: \"$OPERATOR_IMAGE\"\nBUNDLE_IMAGE: \"$BUNDLE_IMAGE\"" > release-config.yaml
          make update-controller-image
          git add release-config.yaml
          make update-installation-yaml
          make bundle
          git add ./bundle/
          git add release.yaml
          git add config/manager/kustomization.yaml
          git commit -m "new release" -a

      - name: commit new release
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.head_ref }}