name: Build Docker Images
env:
  TARGET_PLATFORMS: linux/amd64,linux/arm64
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

on:
  workflow_call:
    inputs:
      ref:
        required: true
        type: string
      new_images_tag:
        required: true
        type: string
      push:
        required: true
        type: boolean
      set_new_images_as_latest:
        required: true
        type: boolean



permissions:
  contents: read
  packages: write

jobs: 
  build-images:
    strategy:
      matrix:
        image:
          - manager
          - agent
    runs-on: ubuntu-latest

    steps:



    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2

    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v2
      with:
        install: true

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Generate docker metadata
      id: image-meta
      uses: docker/metadata-action@v4
      with:
        tags: |
          type=raw,value=latest, enable=${{ inputs.set_new_images_as_latest}}
          type=raw,value=${{ inputs.new_images_tag }},
        images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/${{ matrix.image }}

    - uses: actions/setup-go@v3
      with:
        go-version: '^1.20'

    - name: Build and push docker image
      uses: docker/build-push-action@v3
      with:
        context: .
        file: images/${{ matrix.image }}/Dockerfile
        platforms: ${{ env.TARGET_PLATFORMS }}
        push: ${{ inputs.push }}
        tags: ${{ steps.image-meta.outputs.tags }}
        labels: ${{ steps.image-meta.outputs.labels }}